@import 'tailwindcss';
/* @layer theme, base, components, utilities;
@theme static */
/* @import 'tailwindcss/preflight'; */

@layer base {
  :root {
    --colorPrimary: #1772bd;
    --colorSecondary: #ebf6ff;
    --colorSecondaryDark: #c5d4e1;

    --colorSuccess: #12b76a;
    --colorWarning: #f79009;
    --colorError: #f04438;
    --colorTextBase: #101828;
    --colorBorder: #d9d9d9;
    --grayText: #475467;
    --background: #eef1f0;
  }
}

@layer utilities {
  .bg-secondary {
    background-color: var(--colorSecondary);
  }
}

html,
body,
#root,
body > header {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100% !important;
  max-height: 100% !important;
}

html {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
div,
span,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
input,
textarea,
button,
label {
  font-family: 'Inter', 'Open Sans', sans-serif;
}

.ant-layout-sider-zero-width-trigger {
  top: 5px !important;
}

.ant-drawer-body {
  padding: 0 !important;
}

.login-card {
  .ant-tabs-nav-list {
    width: 100%;

    .ant-tabs-tab {
      flex: 1 !important;
      width: 50% !important;
      text-align: center !important;

      justify-content: center;
    }
  }
}

.nodes-tabs {
  .ant-tabs-tab {
    max-width: 47px !important;
    padding: 5px !important;
  }
  .ant-card-head {
    padding: 0 max(10px, 3%);
  }

  .ant-card-body {
    padding: max(12px, 3%);
  }
}
