@import 'tailwindcss';

@layer base {
  :root {
    --colorSuccess: #12b76a;
    --colorWarning: #f79009;
    --colorError: #f04438;
    --colorTextBase: #101828;
    --colorBorder: #d9d9d9;
    --grayText: #475467;
  }
}

html,
body,
#root,
body > header {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100% !important;
  max-height: 100% !important;
}

html {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
div,
span,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
input,
textarea,
button,
label {
  font-family: 'Inter', 'Open Sans', sans-serif;
}
